.st{
  list-style-type: none;
              margin: 0;
              overflow: hidden;
              background-color: #333;
              float: left;
}
.str {
    float: left;
    position: relative;
    margin-left: 10px;
    
}
.textStory{

 
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 430px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    
    text-align: center;
}
.str:hover .textStory {
    opacity: 1;
  }

  .st a:hover{
background-color: initial;

  }
  
  